img{
    border-radius: 12px;
    width: 230px;
}
#box{
    margin-bottom: 1rem;
    padding: 1.5rem;
    background-color: #dbffcf !important;
    border-color: #8eff69 !important;
}

#body{
    background-color: #b7ff9c;
}
a{
    text-decoration: none;
    color: black;
    
}
.title{
    margin-bottom: 1rem;
}